<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <style type="text/css" rel="stylesheet">
            ul li {
                display: inline-block;
                margin-right:5px;
                padding: 10px 20px;
                background-color: #7DA0B1;
                border-radius: 4px;

            }
            ul li a {
                color: black;
                padding: 10px 20px;
                text-decoration: none;
            }
            ul li > a:hover {
                color: white;
            }
            ul li:hover {
                background-color: #444444;
                border-bottom: 1px solid red;
            }
        </style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <h1>base.html.twig</h1>
        {% block header %}
            <nav>
                <ul class="list-group-item">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Porfolio</a></li>
                    <li><a href="#">Contact</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ logout_path() }}" class="">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
